{% extends "base.html" %}
{% block title %} ChatBot {% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block contenido %}
<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row full-container d-flex justify-content-center">
      <div class="col-md-12">
        <div class="card card-bordered">
          <div class="card-header">
            <h4 class="card-title"><strong>Chat</strong></h4>
          </div>


          <div class="ps-container ps-theme-default ps-active-y" id="chat-content"
            style="overflow-y: scroll !important; height:400px !important;">

            {% for c in ctx %}
            <div class="media media-chat media-chat-reverse">
              <div class="media-body">
                <p>{{c.user}}</p>
                <p class="meta"><time datetime="2022">{{c.hora}}</time></p>
              </div>
            </div>

            <div class="media media-chat">
              <img class="avatar" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
              <div class="media-body">
                <p>{{c.bot}}</p>
                <p class="meta"><time datetime="2022">{{c.hora}}</time></p>
              </div>
            </div>

            {% endfor %}

            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
              <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
            </div>
            <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
              <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
            </div>
          </div>

          <div class="publisher bt-1 border-light row full-container d-flex justify-content-center">
            <form method="post" style="width: 100%;" action="{{url_for('chat.responder')}}">
              <img class="avatar avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png"
                alt="...">
              <input name="frase" style="width: 90%" class="publisher-input" type="text" placeholder="Escribe algo">
              <button type="submit" class="publisher-btn text-info" data-abc="true"><i
                class="fa fa-paper-plane"></i></button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}