{% extends "frase_base.html" %}
{% block title %} Agregar Frase {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block contenido %}
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a id="1" class="nav-link" href="/frase">Lista de frases</a>
    </li>
    <li class="nav-item">
      <a id="2" class="nav-link active" href="/frase/agregar">Agregar frase</a>
    </li>
  </ul>
<div class="form-container">
    <form method="post" action="{{url_for('frase.agregar')}}">
        <div class="form-group">
          <label for="frase">Frase</label>
          <input name="fra_v_frase" type="text" class="form-control" id="frase"  placeholder="Frase">
        </div>
        <div class="form-group">
          <label for="cat">Categoria</label>
          <input name="fra_v_categoria" type="text" class="form-control" id="cat" placeholder="Categoria">
        </div>
    
        <button type="submit" class="btn btn-primary">Crear</button>
    </form>

</div>

{% endblock %}
