{% extends "frase_base.html" %}
{% block title %} Frase {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block contenido %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a id="1" class="nav-link active" href="/frase">Lista de frases</a>
  </li>
  <li class="nav-item">
    <a id="2" class="nav-link" href="/frase/agregar">Agregar frase</a>
  </li>
</ul>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Frase</th>
        <th scope="col">Categoria</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      {% for frase in data %}
      <tr>
        <td>{{frase.fra_i_id}}</td>
        <td>{{frase.fra_v_frase}}</td>
        <td>{{frase.fra_v_categoria}}</td>
        <td><a class="btn btn-primary" href="{{url_for('frase.eliminar', id=frase.fra_i_id)}}" role="button">Eliminar</a></td>
      </tr>
     {% endfor %}
    </tbody>
  </table>
{% endblock %}
